html {
  font: 100%/1.15 sans-serif;
  display: block;
}

nav {
  display: block;
}

body {
  max-width: 48rem;
  padding: 0 1rem;
  margin: 1rem auto;
  background-color: rgb(0, 0, 0);
  line-height: 2em;
  display: block;
}

p {
  font: 1.05em/1.5 Georgia, sans-serif;
  color: rgb(255, 255, 255);
}

img {
  width: auto;
  max-width: 100%;
  height: auto;
}

h1 {
  text-transform: uppercase;
  color: rgb(229, 115, 175);
  text-align: center;
  font-size: 500%;
  display: block;
  font weight: bold;
  color: rgb(255, 255, 255);
}

a {
  color: rgb(0, 0, 0);
  display: block;
  padding: 8 px;
  background-color: rgb(229, 115, 175);
}

figure {
  display: block;
}
    
 
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(229, 115, 175);
  list-style-type: none;
  width: 60px;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

/* Add a black right border to all list items, except the last item (last-child) */
li {
  border-right: 1px solid #111;
}

li:last-child {
  border-right: none;
}

/* Style the navigation menu */
.navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

/* Navigation links */
.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  width: 16.66%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
  text-align: center; /* If you want the text to be centered */
}

/* Add a background color on mouse-over */
.navbar a:hover {
  background-color: #000;
}

.navbar a.active {
  background-color: #4CAF50;
}

/* Add responsiveness - make the navigation links appear on top of each other */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: center;
  }



  


