html {
  font: 100%/1.15 sans-serif;
}

body {
  max-width: 48rem;
  padding: 0 1rem;
  margin: 1rem auto;
  background color: black;
}

nav ul {
  list-style: none url(//:0);
  padding-left: 0; 
}

nav li {
  margin-top: 1rem; 
}

p {
  font: 1.05em/1.5 Georgia, sans-serif;
  color: white;
}

img {
  width: auto;
  max-width: 100%;
  height: auto;
}

h2 {
  color: rgb(255, 0, 191);
  

}

a {
  color: rgb(229, 115, 175);
}
    
    


