html {
  font: 100%/1.15 serif;
  display: block;
}

nav {
  display: block;
}

body {
  max-width: 48rem;
  padding: 0 1rem;
  margin: 1rem auto;
  background-color: rgb(0, 0, 0);
  line-height: 2em;
  display: block;
}

p {
  font: 1.05em/1.5 serif;
  color: rgb(255, 255, 255);
}

p class="wrap" {
  word-wrap: break-word;
}

img {
  width: auto;
  max-width: 100%;
  height: auto;
}

h1 {
  text-transform: uppercase;
  color: rgb(229, 115, 175);
  text-align: center;
  display: block;
  font-weight: bold;
  font-size: x-large;
  color: rgb(255, 255, 255);
}

h1 {
    font-size: 1.875em;
 }
  
a {
  color: rgb(0, 0, 0);
  display: block;
  padding: 8px;
  background-color: rgb(229, 115, 175);
}

figure {
  display: block;
}
    
 
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(229, 115, 175);
  top: 0;
  width: 100%;
}

li {
  float: left;
  border-right: 1px solid #bbb;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}
  
.active {
  background-color: #111;
}

/* Add a gray right border to all list items, except the last item (last-child) */
li {
  border-right: 1px solid #111;
}

li:last-child {
  border-right: none;
}

  


